* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat';
  overflow-x: hidden;
}



header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4em;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 3;
}

li {
  list-style-type: none;
}




.logo a{
  font-size: 2em;
  font-weight: bold;
  color: rgb(70, 64, 64);
  font-family: 'Roboto Slab';
}
.logo span {
  color: #b70014;
  font-size: 1.2em;
}
.letstalk {
  border: solid 1 px grey;
  color: grey;
}

.letstalk a {
  border: solid 1px #b70014;
  padding: 0.5em;
  color: #b70014;
}

.burger {
  display: none;
  width: 3em;
}

.burger div {
  height: 0.3em;
  width: 100%;
  background-color: #b70014;
  margin: 10px 0;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
nav a {
  color: #b70014;
}
a {
  text-decoration: none;
  color: black;
}
.content {
  width: 100%;
  margin: 0 auto;
  margin-top: 2em;
}

.hero{
    background-color: #f8f9fa;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5em;
}



.hero-text {
  width: 50%;
  color: rgb(84, 78, 78);
}
.hero_socials ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.5em 0;
  width: 80%;
  margin: 0 auto;
}

.hero_socials ul li {
  border: solid 1px grey;
  padding: 0.5em;
  font-size: 1.2em;
}

.hero-text h3 {
  font-size: 4em;
  text-align: center;
}
.hero-text p {
  text-align: center;
  font-size: 2em;
  margin: 1em 0;
}

.hero-image {
  width: 30%;
  height: 30em;
  border-radius: 100%;
}

.hero-image img {
  height: 100%;
  max-width: 100%;
}


.about {
  margin: 0 auto;
  width:90%;
  padding: 1em;
}
.about_nav {
  width: 80%;
  margin: 0 auto;
  margin-top: 1em;
}

.about_content{
    width: 100%;
    margin: 0 auto;
}

.about_nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.about_nav ul li {
  font-size: 1.3em;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0.5em 1em;
}

.about_nav ul li span {
  position: relative;
  top: 0.2em;
  font-size: 1.2em;
}

.about_title {
  font-size: 1.6em;
  color: #b70014;
  text-decoration: underline;
  margin: 1em 0;
  font-family: 'Roboto Slab';
}
.about_sub_con {
  width: 95%;
  display: none;
  background-color:#f8f9fa;;
  border-radius: 5px;
  padding: 1em;
  margin: 0 auto;
}

#about_image {
  width: 50%;
  margin: 0 auto;
}

#about_image img {
  max-width: 100%;
}

#about_text {
  font-size: 1.2em;
  color: rgb(77, 76, 76);
  line-height: 1.4em;
  word-spacing: 0.3em;
  padding: 1em;
}

.skillsContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.allSkills {
  width: 24em;
  margin: 1em;
}

.line {
  height: 24px;
  background: grey;
}
.line div {
  height: 24px;
  background: rgb(51, 44, 44);
}
.skillPercent {
  font-size: 2em;
  color: #b70014;
}
.skilsLabel {
  font-size: 1.2em;
  padding: 0.5em 0;
}
#services_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.service_con {
  width: 25em;
  margin: 0.5em;
  color: rgb(58, 55, 55);
  padding: 0.9em;
  border-bottom: solid 1px grey;
}

.service-title {
  padding: 1em 0;
  font-size: 1.2em;
  text-align: center;
}
.service-discription {
  line-height: 1.2em;
  word-spacing: 0.2em;
}

.service-discription p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-discription p span{
    padding: .5em;
}

.S-icon{
    font-size: 4em;
    z-index: 0;
}

.award_con{
   width: 80%;
   margin: 0 auto;
}

.award_con img{
    max-width: 100%;
}

.projects {
  margin-top: 4em;
}

.project_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  width: 45%;
  margin: 1em;
  padding: 0.5;
  height: 17em;
  background-position: top;
  background-size: cover;
  transition: linear 5s;
}

.box1 {
  background-image: url('../images/BAAEFULL.png');
}

.box2 {
  background-image: url('../images/Home-Various-Categories\ _full\ .png');
}

.box3 {
  background-image: url('../images/AnchFull\ .png');
}


.box4{
  background-image: url('../images/Dmak.png');
}

.project:hover {
  background-position: bottom;
}


.contact {
  margin-top: 4em;
}

.message form{
  width: 90%;
  margin: 0 auto;
}

.contact_elements {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 95%;
  margin: a auto;
}

.message {
  width: 45%;
  border: solid 1px grey;
  padding: 1em;
}

.message h4 {
  text-align: center;
}

.message input,
textarea {
  display: block;
  width: 80%;
  margin: 1.5em;
  padding: 0.5em;
  border: none;
  border-bottom: solid 1px grey;
}

textarea:focus,
input:focus {
  outline: none;
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: .5em 2em;
  margin-left: 1em;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


.addresses{
  width: 40%;

}



.icon {
  width: 4em;
  height: 4em;
  background: #b70014;
  border: solid 1px transparent;
  border-radius: 100%;
  margin: 0 1em;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.phone {
  margin: 2em 0;
}

.phone_label {
  display: flex;
  justify-content: start;
  align-items: center;
}

.phone_title {
  color: rgb(76, 69, 69);
}

.footer{
  width: 100%;
  background-color: #b70014;
  margin-top: 2em;
  color: whitesmoke;
}

.footer a{
  text-decoration: none;
  color: white;
  margin: 0 1em;
  
}

.footer_nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  padding: 2em 0;
}

.footer_logo{
  font-size: 1.3em;
}

.footer_socials{
   width: 90%;
   margin: 0 auto;
   padding: 2em 0;
   display: flex;
   justify-content: space-around;
}

.footer_socials a{
  border: solid 1px white;
  padding: .5em 1em;
}

.credits{
  text-align: center;
  padding: .5em 0;
}


.tab{
  padding: 0.5em 1em;
  border-bottom: solid 5px transparent;
}


.active {
  padding: 0.5em 1em;
  border-bottom: solid 5px #b70014;
}



@media screen and (max-width:950px)  {
  .contact_elements{
      flex-direction: column;
  }

  .service_con{
    width: 100%;
  }

  header{
    padding: 0 4em;
  }

  .message{
    width: 90%;
    margin: 0 auto;
  }

  .addresses{
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
  }
  
  .letstalk{
    display: none;
  }

  .nav{
    width: 70%;
  }

  .hero-image{
    display: none;
  }
  .hero{
    padding: 1em 0;
  }
  .hero-text{
    width: 90%;
  }
}

@media screen and (max-width:700px){
    .project_container{
      flex-direction: column;
      width: 100%;
    }

    .project{
      width: 100%;
    }

    .nav{
      display: none;
      flex-direction: column;
      position: absolute;
      right: 3em;
      background-color: white;
      opacity: .9;
      top: 4em;
      text-align: center;
      width: 100%;
    }

    .nav a{
      margin: 1.2em 0;
    }

    .logo{
      margin-left:-6em ;
    }

    .burger{
      display: block;
    }

    .footer_logo{
      display: none;
    }

    .footer_nav{
      width: 100%;
    }
}

@media screen and (max-width:400px) {
     .icon{
      display: none;
     }

     .hero_socials{
      width: 100%;
     }

     .hero_socials ul{
      width: 100%;
     }

     .hero_socials ul li a{
      font-size: 1em;
      padding: 0;
     }

     .about_sub_con{
      padding: 0;
      margin: 0;

     }
     .footer{
      width: 100%;
     }

     body{
      border: solid 1px ;
     }

     .footer_socials{
      display: none;
     }
     .project{
      padding: 0;
      margin: 0;
     }

}

