* {
  padding: 0;
  margin: 0;
}

section {
  margin: 3em 0;
}

.container {
  max-width: 1224px;
  padding: 0 40px;
  margin: 0 auto;
  margin-bottom: 5em;
}

.links {
  position: absolute;
  background-color: white;
  bottom: -100em;
  width: 100%;
  text-align: center;
  padding-top: 3em;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: bottom linear 200ms;
}

.close {
  position: absolute;
  bottom: 10px;
  right: 15px;
  display: none;
  font-size: 1.5em;
}

.menu span {
  font-size: 2.5em;
  color: #4d4d4d;
}

.link {
  list-style: none;
  margin: 1.5em 0;
  width: 30%;
  display: flex;
  flex-direction: column;
}
.link a {
  text-decoration: none;
  color: #4d4d4d;
  font-size: 1.2em;
  font-family: 'Roboto';
  padding: 0.2em 0;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 4em;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: fixed;
  bottom: 0;
  width: 95%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.hero {
  width: 100%;
  height: calc(100vh- (4em));
  margin-top: 4em;
}
.heroCon {
  width: 75%;
  margin: 0 auto;
}

.heroImg {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: flex-end;
}

.heroImg img {
  max-width: 100%;
  background-color: #204ac0;
  border-top-right-radius: 0%;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 40%;
  padding-top: 4em;
}

.heroText {
  width: 90%;
  margin: 0 auto;
  margin-top: 1.5em;
  line-height: 1.4;
}

.heroText h3 {
  padding: 0.2em 0;
  font-size: 2em;
  font-family: 'Roboto';
  color: #4d4d4d;
}

.heroText h4 {
  font-size: 1.2em;
  padding: 0.2em 0;
  font-family: 'Roboto';
  color: #4d4d4d;
}

.heroText p {
  font-size: 1.2em;
  padding: 1em 0;
  font-family: 'Montserrat';
  color: #4d4d4d;
}

.btn {
  padding: 20px 32px;
  background-color: #204ac0;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  color: white;
  margin: 0.3em 0;
  font-family: 'Roboto';
  display: flex;
  align-items: center;
  width: 11em;
  max-width: 11em;
  justify-content: space-between;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo h2 {
  font-family: 'Roboto';
  color: #4d4d4d;
  font-weight: 300;
}
.activeLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  bottom: 4em;
  transition: bottom linear 200ms;
}

.widget {
  transform: rotate(0deg);
  transition: transform linear 200ms;
}

.rotateWidget {
  transform: rotate(90deg);
  transition: transform linear 200ms;
}

.about_me {
  width: 90%;
  margin: 0 auto;
  padding: 3em 0;
}

.about_intro {
  text-align: center;
  padding: 2em 0;
}

.about_intro h3 {
  font-size: 2em;
  font-family: 'Roboto';
  color: #4d4d4d;
}
.about_intro p {
  font-size: 1.2em;
  font-family: 'Montserrat';
}
.about_me_text {
  padding: 1.5em 0;
}
.about_me_text p {
  font-size: 1.2em;
  font-family: 'Montserrat';
  line-height: 1.5;
  padding: 1em 0;
  color: #4d4d4d;
}

.about_me_image {
  width: 65%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_me_image img {
  max-width: 100%;
  border-radius: 20px;
  background-color: #204ac0;
}

.experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.experience p {
  font-size: 0.9em;
}

.experience h4 {
  font-size: 2em;
  font-family: 'Roboto';
  color: #4d4d4d;
}

.experience div {
  width: 20%;
}

.bar {
  height: 0.5em;
  width: 100%;
  background-color: #204ac0;
  border-radius: 2px;
}

.label,
.percent {
  font-size: 1em;
  font-family: 'Montserrat';
}

.skill {
  padding: 1.5em 0;
}

.skill_bar {
  padding: 1em 0;
}

.skill h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.skill_name {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #4d4d4d;
  font-family: 'Roboto';
}

.skill h3 span {
  font-size: 1.7em;
  color: #204ac0;
}

.hidden_skill {
  display: none;
}

.skill_label {
  display: flex;
  justify-content: space-between;
}

.active_skill {
  display: block;
}

.expand {
  z-index: 0;
}

.open_expand {
  transform: rotate(-180deg);
  transition: transform ease-in-out 200ms;
}

.service {
  width: 100%;
  font-size: 1.5em;
  font-family: 'Roboto';
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.service_label {
  padding: 1em 0;
}
.service span {
  font-size: 2em;
}

.folio {
  width: 100%;
  margin: 0 auto;
  border: solid 1px #4d4d4d;
  margin-top: 1.5em;
  border-radius: 5px;
  cursor: pointer;
  transition: transform ease-in-out 200ms;
}

.folio:hover {
  transform: scale(1.1);
}

.folio div {
  border-radius: 5px;
}

.folio1 {
  background-image: url('../images/AnchFull.png');
  background-position: top;
  background-size: cover;
  height: 15em;
}

.folio2 {
  background-image: url('../images/BAAEFULL.png');
  background-position: top;
  background-size: cover;
  height: 15em;
}

.folio3 {
  background-image: url('../images/varoius.png');
  background-position: top;
  background-size: cover;
  height: 15em;
}

.ct_con {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #4d4d4d;
  font-family: 'Roboto';
}

.contact_text {
  font-size: 1.2em;
}

.c_icon {
  color: #204ac0;
  margin: 1em 0;
}

.contact_form {
  margin: 1em 0;
}

input {
  padding: 0.5em 0;
  font-size: 1.2em;
  width: 100%;
  margin: 1em 0;
  border: none;
  border-bottom: 1px solid #4d4d4d;
  outline: none;
}

textarea {
  padding: 0.5em 0;
  font-size: 1.5em;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #4d4d4d;
}

.submit {
  width: 140px;
  text-align: center;
  justify-content: space-around;
  padding: 13px 16px;
  margin-top: 1em;
}

footer{
  background-color: #204ac0;
  margin-bottom: 4em;
  color: white;
  padding: 3em 20px;
}

footer li{
  list-style: none;
}

footer a{
  text-decoration: none;
  color: white;
  font-family: "roboto";
}

.footer_socials{
  display: flex;
  justify-content: start;
  gap: 40px;
  font-size: 1.8em;
  padding-top: 1em;
}

.footer_nav{
  font-size: 1.5em;
  padding-top: 1em;
}

.footer_nav li{
  margin: .4em 0;
}

.copy{
  padding-top: 2em;
  text-align: center;
  font-family: "Montserrat";
}


.footer_hero h3{
  font-size: 2em;
  font-family: "roboto";

}

.footer_hero p{
  font-size: 1.4em;
  font-family: "Roboto";
}

@media screen and (min-width: 768px) {
  .heroCon {
    width: 35%;
  }
  .heroText {
    width: 55%;
  }
  .hero {
    display: flex;
    margin-top: 6em;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .links {
    display: flex;
    flex-wrap: nowrap;
    position: static;
    height: auto;
    align-items: center;
    padding-top: 0;
    width: 70%;
    padding-right: 20px;
    justify-content: space-between;
    background-color: transparent;
  }
  .link {
    font-size: 0.9em;
    padding: 0;
  }
  nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 20px;
    max-width: 1224px;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    background-color: white;  
  }

  .link p {
    display: none;
  }

  .menu {
    display: none;
  }

  .about_me {
    padding: 4em 0;
  }

  .about_me_con {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about_me_image {
    width: 35%;
    justify-content: start;
  }

  .about_me_text {
    width: 55%;
  }

  .all_skills_con {
    display: flex;
    justify-content: space-between;
  }

  .skills{
    width: 80%;
    margin: 0 auto;
  }

  .skill {
    width: 45%;
  }

  .services_con {
    display: flex;
    justify-content: space-between;
  }

  .service {
    width: 30%;
  }

  .folios_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .folio {
    width: 30%;
  }
  .contact {
    width: 80%;
    margin: 0 auto;
  }
  .contact_text {
    width: 45%;
    padding-top: 1em;
  }

  .ct_con {
    margin-bottom: 2em;
  }

  .contact_form {
    width: 45%;
    padding-top: 0;
    margin: 0;
  }

  .contact_sections {
    display: flex;
    justify-content: space-between;
  }

  footer{
    margin-bottom: 0;
  }

  .footer_socials{
    gap: 20px;
  }
  .footer_con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin:  0 auto;
  }

  .footer_nav{
    width: 50%;
    font-size: 1.1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer_hero h3{
    font-size: 1.4em;
  }

  .footer_hero p{
    font-size: 1.3em;
  }
}

@media screen and (min-width: 850px) {
  .links {
    width: 60%;
  }

  .btn {
    padding: 12px 16px;
    width: 9em;
  }
}

@media screen and (min-width: 1000px) {
  .links {
    width: 50%;
  }

  .footer_nav{
    width: 50%;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer_hero h3{
    font-size: 2em;
  }

  .footer_hero p{
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1200px) {
  .links {
    width: 40%;
  }
}
